body {
    text-transform: uppercase;
    text-align: center;

}

.container-fluid {
    text-align: center;
}

.radio__elem:checked~.form:before {
    display: block;
}

form {
    display: none;
}

form:before {
 display: block;
}



