body {
    font-family: 'Segoe UI';
    text-align: center;
    background-color: #A8E4A0;
    font-size: 14px;

}

.container {
    width: 1380px;
    margin: 0 auto;
}

.section__content {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.section__title {
    font-size: 24px;
    font-weight: bold;
    margin: 27px 0 30px 0;
}

header {
    margin-top: 50px;
    margin-bottom: auto;
    justify-content: center;
}

.offers__list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}



.offers__item {
    margin: 0 16px 16px 0;
    width: 360px;
    height: 720px;
    background: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.offers__item:hover {
    box-shadow: 7px 7px gray, 7px 7px gray;
    transition: 0.4s;
    margin-top: -10px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__content {
    margin: 0 0 30px 30px;
}

.offers__subtitle {
    color: green;
    margin-bottom: 20px;
}

.meals {
    display: flex;
    margin-bottom: 30px;
}

.meals__col--right,
.meals__col--left {
    padding: 0;
    margin-right: 30px;
}

.meals__item {
    margin-bottom: 10px;
    display: flex;
}

.meals__icon {
    margin-right: 5px;
}

.meals__desc {
    margin: 0;
}

.menu {
    padding: 0;
    margin-bottom: 60px;

}

.menu__item {
    list-style: disc;
    padding: auto;
    margin-left: 20px;
}



.offers__btn--link {
    color: #EF3120;
    width: 170px;
    background-color: white;
    border: 3px solid #EF3120;
    border-radius: 58px;
    padding: 18px 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;

}

.offers__btn--link:hover {
    background-color: #EF3120;
    transition: 0.4s;
    color: #FFFFFF;
}